# ---------------------------------------------------
# DEPENDENCIES
# ---------------------------------------------------
node_modules/
apps/api/node_modules/
apps/web/node_modules/
packages/*/node_modules/

# ---------------------------------------------------
# NEXT.JS BUILD
# ---------------------------------------------------
.next/
out/
!.next/README.md

# ---------------------------------------------------
# NEST.JS BUILD
# ---------------------------------------------------
dist/

# ---------------------------------------------------
# ENVIRONMENT FILES
# ---------------------------------------------------
.env
.env.local
.env.development
.env.production
apps/api/.env
apps/web/.env.local

# ---------------------------------------------------
# LOGS
# ---------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# ---------------------------------------------------
# PRISMA
# ---------------------------------------------------
*.db
prisma/*.db
apps/api/prisma/*.db

# ---------------------------------------------------
# OS / EDITOR FILES
# ---------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# build artifacts
apps/web/.next/
apps/web/tsconfig.tsbuildinfo
